label#thumbnail {
  margin-bottom: 20px;
  border: 1px dashed #ddd;
  background-size: cover;
  cursor: pointer;
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;

  &.has-thumbnail {
    border: 0;

    img {
      display: none;
    }
  }

  input {
    display: none;
  }
}
